################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DSP_1/DSP_1/x64/Debug
/DSP_1/x64/Debug
/DSP_1/.vs/DSP_1
